@{
    <div style="text-align: end">
        <button type="button" class="btn btn-success" 
                onclick="location.href='@Url.Action("NewStory", "Stories")'">Create New</button>
        <p></p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Short Description</th>
                <th>Fandom</th>
                <th>Likes</th>
                <th>Rating</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                int i = 0;
                foreach (var story in Model.AllStories)
                {
                    i++;
                    //var fandom = Select();
                    <tr>
                        <td>@i</td>
                        <td>@story.Title</td>
                        <td>@story.ShortDescription</td>
                        <td>@story.FandomId</td>
                        <td>@story.Likes</td>
                        <td>@story.Rating</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-dark" href="#">Edit</button>
                                <button type="button" class="btn btn-danger" href="#">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
}