@using System.Security.Claims

@{
    <div style="text-align: end">
        <button class="btn btn-success"
                onclick="location.href='@Url.Action("NewStory", "Stories")'">
            Create New
        </button>
        <p></p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Title</th>
                <th>Short Description</th>
                <th>Fandom</th>
                <th>Likes</th>
                <th>Rating</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                int i = 0;
                foreach (var story in Model.AllStories)
                {
                    if (story.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@story.Title</td>
                            <td>@story.ShortDescription</td>
                            @{
                                foreach (var fandom in Model.AllFandoms)
                                {
                                    if (fandom.Id == story.FandomId)
                                    {
                                        <td>@fandom.Name</td>
                                    }
                                }
                            }
                            <td>@story.Likes</td>
                            <td>@story.Rating</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button class="btn btn-info" onclick="
                                        location.href='@Url.Action("Read", "Stories",
                                                           new {story.Id})'">Read</button>
                                    <button class="btn btn-dark" href="#">Edit</button>
                                    <button class="btn btn-danger" onclick="
                                        location.href='@Url.Action("Delete", "Stories", 
                                                           new {id = story.Id})'">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
}